# Power: SPMI controller, PMIC, regulators, IP power domains, RTC,
# power key, temperature sensors
CONFIG_SPMI=y
CONFIG_SPMI_HISI3670=y
CONFIG_MFD_HISI_SPMI_PMIC=y
CONFIG_REGMAP_SPMI=y
CONFIG_REGULATOR=y
CONFIG_REGULATOR_HISI_SPMI=y
CONFIG_REGULATOR_HISI_IP=y
CONFIG_RTC_CLASS=y
CONFIG_RTC_DRV_HISI_SPMI=y
CONFIG_INPUT_HISI_POWERKEY=y
CONFIG_THERMAL=y
CONFIG_THERMAL_OF=y
CONFIG_HISI_TSENS_SMC=y
CONFIG_KIRIN_HW_VOTE=y
CONFIG_KIRIN_PERI_DVFS=y

# cpufreq: LPM3 DVFS through the PMCTRL hardware vote (not cpufreq-dt)
CONFIG_CPU_FREQ=y
CONFIG_CPU_FREQ_STAT=y
CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL=y
CONFIG_CPU_FREQ_GOV_PERFORMANCE=y
CONFIG_CPU_FREQ_GOV_POWERSAVE=y
CONFIG_CPU_FREQ_GOV_USERSPACE=y
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=y
# CONFIG_CPUFREQ_DT is not set
# CONFIG_CPUFREQ_DT_PLATDEV is not set
# CONFIG_ARM_SCMI_CPUFREQ is not set
CONFIG_ARM_HISI_HWVOTE_CPUFREQ=y
CONFIG_CPU_THERMAL=y

# cpuidle: PSCI idle states of the firmware DT (cpu-sleep-0, cluster-sleep-0/1)
CONFIG_CPU_IDLE=y
CONFIG_ARM_PSCI_CPUIDLE=y
