# T3 ufs: Kirin 990 UFS host controller (root filesystem lives on LUN3 = sdd)
CONFIG_SCSI=y
CONFIG_BLK_DEV_SD=y
CONFIG_SCSI_UFSHCD=y
CONFIG_SCSI_UFSHCD_PLATFORM=y
CONFIG_SCSI_UFS_KIRIN=y
# vendor inline crypto needs secure-world key programming; not supported
# CONFIG_SCSI_UFS_CRYPTO is not set
CONFIG_EFI_PARTITION=y
